.prod__detail {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.prod__detail h6 {
  width: 100%;
  margin-bottom: 8px;
}

.prod__detail-img {
  width: 100px;
  height: 50px;
  margin-right: 10px;
}

.prod__detail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prod__detail-img:last-child {
  margin-right: 0;
}
